# rules for letters
#
# F - unvoiced group
# G - voiced group
# Y - voiced obstruent group
# A - vowel group
# K - not vowel group
# _ - space

n) ts (k  -> ts
n) ds (k  -> ts
s) ts (k  -> _
s) ts (v  -> _
s) ťs (t  -> _
   dš (t  -> tS
   tš (ť  -> tS
   tš (ti -> tS
p) tč     -> tS
   z  (sk -> _
   z  (šť -> _

   čš    -> tS:
   dc    -> ts:
   d (ch -> t
   dč    -> tS:
   tc    -> ts:
   t (ch -> t
   tč    -> tS:
A) ds (A -> ts:
A) dš (A -> tS:

tt -> t:
nn -> n:
šš -> S:
rr -> r:
ll -> l:
žš -> S:
zs -> s:
dt -> t:
ťt -> c:
ďť -> c:
dť -> c:
ťd (e -> J\:

ch     -> x
_) ch  -> x
ch (_Y -> G

dz    -> dz
dz (_ -> ts
dz (F -> ts

dž    -> dZ
dž (_ -> tS
dž (F -> tS

ia -> i_^a

ie -> i_^E

iu -> i_^U

ô -> U_^O

a -> a

e -> E

i -> i

y -> i

ý -> i:

o -> O

u -> U

ä -> {

á -> a:

é -> E:

í -> i:

ó -> O:

ú -> U:

p     -> p
p (_G -> b

t     -> t
t (_G -> d
t (e  -> c
t (i  -> c
t (í  -> c
ma) t (er -> c
ne) t (er -> c
u) t (erák -> c
do) t (ern -> c
t (ickA   -> t
t (izova  -> t
t (izmu   -> t
t (ista   -> t
t (istka  -> t
t (ita    -> t
t (ika    -> t
t (it     -> t
t (id     -> t
t (ín     -> t
t (inka   -> t
t (ínka   -> t
t (ent    -> t
t (er     -> t
t (ér     -> t
t (ea     -> t
t (ium    -> t
t (izm    -> t
t (enz    -> t
t (ech    -> t
_) t (ím  -> t
a) t (ív  -> t
ma) t (e  -> t
in) t (en -> t
ak) t (ív -> t
ak) t (iv -> t
jus) t (i -> t
jus) t (é -> t
po) t (enc -> t
iden) t (i -> t
_ho) t (el -> t
$adj t (í_ -> t
$adj t (ej_ -> t
$adj t (eho_ -> t
$adj t (ého_ -> t
$num_ord t (i -> t
$num_ord t (í -> t


ť     -> c
ť (_G -> J\

k     -> k
k (_G -> g
k (k  -> _

x    -> k,s
e) x -> g,z

c -> ts
c (_G -> dz

č -> tS
č (_G -> dZ

s     -> s
s (_G -> z

š     -> S
š (_G -> Z

f    -> f
f (Y -> w

b    -> b
b (_ -> p
b (F -> p

d     -> d
d (_  -> t
d (F  -> t
d (e  -> J\
d (i  -> J\
d (í  -> J\
d (ickA   -> d
d (izova  -> d
d (izmus  -> d
d (ista   -> d
d (ita    -> d
d (ika    -> d
d (it     -> d
d (id     -> d
d (ín     -> d
d (inka   -> d
d (ínka   -> d
d (ent    -> d
d (er     -> d
d (ér     -> d
d (ea     -> d
d (ium    -> d
d (ek     -> d
d (iverz  -> d
_) d (emo -> d
_) d (eb  -> d
_) d (ef  -> d
_) d (eg  -> d
_) d (eh  -> d
_) d (es  -> d
_) d (ez  -> d
_) d (ik  -> d
_) d (iv  -> d
_) d (is  -> d
_) d (ip  -> d
_) d (iz  -> d
me) d (ic -> d
me) d (ik -> d
me) d (iá -> d
mé) d (i -> d
in) d (i  -> d
aka) d (e -> d
_na) d (i -> d
_na) d (í -> d
_na) d (e -> d
_po) d (i -> d
_po) d (í -> d
_po) d (e -> d
_pre) d (i -> d
_pre) d (í -> d
_pre) d (e -> d
$adj d (i_ -> d
$adj d (í_ -> d
_popo) d (i -> d
_popo) d (í -> d
_popo) d (e -> d
$adj d (ej_ -> d
$adj d (en_ -> d
$adj d (ého_ -> d

ď    -> J\
ď (_ -> c
ď (F -> c

g    -> g
g (F -> k

h     -> h\
h (_  -> x
h (F  -> x
h (h  -> G
h (_F -> G
h (_h  -> G

z    -> z
z (_ -> s
z (F -> s

ž    -> Z
ž (_ -> S
ž (F -> S

   v     -> v
   v (F  -> f
A) v (F  -> f
o) v (_  -> U_^
A) v (K  -> U_^
A) v (n  -> v
A) v (ň  -> v
A) v (lK -> v
A) v (ĺ  -> v
   v (b  -> w
   v (d  -> w
   v (ď  -> w
   v (z  -> w
   v (ž  -> w

r       -> r
K) r (K -> r=

ŕ       -> r:
K) ŕ (K -> r=:

l         -> l
K) l (K   -> l=
l (e      -> _l
l (i      -> _l
l (í      -> _l
l (ickA   -> l
l (izova  -> l
l (izmu   -> l
l (ista   -> l
l (istka  -> l
l (ita    -> l
l (ika    -> l
l (it     -> l
l (id     -> l
l (ín     -> l
l (inka   -> l
l (ínka   -> l
l (ent    -> l
l (er     -> l
l (ér     -> l
l (ea     -> l
l (ium    -> l
l (eg     -> l
l (ég     -> l
k) l (im  -> l
koa) l (i -> l
ko) l (íz -> l
konf) l (i -> l
$adj l (í_ -> l
$adj l (i_ -> l
$adj l (ej_ -> l

ĺ       -> l:
K) ĺ (K -> l=:

ľ -> L

j -> j

m    -> m
m (f -> F

n    -> n
n (k -> N
n (g -> N
n (e -> J
n (i -> J
n (í -> J
n (ď -> J
ra) n (i -> J
n (ickA   -> n
n (izova  -> n
n (izmu   -> n
n (ista   -> n
n (istka  -> n
n (ita    -> n
n (ika    -> n
n (it     -> n
n (id     -> n
n (ín     -> n
n (inka   -> n
n (ínka   -> n
n (ent    -> n
n (er     -> n
n (ér     -> n
n (ea     -> n
n (ium    -> n
u) n (iv  -> n
mi) n (i  -> n
lí) n (iA -> n
u) n (ikát -> n
$adj n (í_ -> n
$adj n (i_ -> n
$adj n (ej_ -> n
$adj n (en_ -> n
$adj n (eho_ -> n
$adj n (ého_ -> n
$adj n (e_ -> n

ň -> J

_ne) a -> ?,a
_ne) á -> ?,a:
_ne) i -> ?,i
_ne) í -> ?,i:
_ne) e -> ?,E
_ne) é -> ?,E:
_ne) o -> ?,O
_ne) ó -> ?,O:
_ne) u -> ?,U
_ne) ú -> ?,U:

